

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">温度</h5>
          <div class="title"><img src="../../assets/img/温度计.png" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/tem']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">空调</h5>
          <div class="title"><img src="../../assets/img/空调1.png" height="69" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/air']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
  </div>
  
  
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" >湿度</h5>
        <div class="title"><img src="../../assets/img/湿度.png" alt=""></div>
        <div style="text-align:center"><a [routerLink]="['/management/hum']" class="btn btn-primary">查看详情</a></div>
      </div>
    </div>
  </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">电风扇</h5>
          <div class="title"><img src="../../assets/img/风扇.png" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/fan']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
  </div>