<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">灯泡</h5>
        <div class="title"><img src="../../assets/img/灯泡关.jpg" alt=""></div>
        <div style="text-align:center"><a [routerLink]="['/management/led']" class="btn btn-primary">查看详情</a></div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">摄像头</h5>
        <div class="title"><img src="../../assets/img/摄像头关.jpg" alt=""></div>
        <div style="text-align:center"><a [routerLink]="['/management/webcam']" class="btn btn-primary">查看详情</a></div>
      </div>

    </div>

    
  </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">空调</h5>
          <div class="title"><img src="../../assets/img/空调关.jpg"  alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/air']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">门锁</h5>
        <div class="title"><img src="../../assets/img/门锁关.jpg" alt=""></div>
        <div style="text-align:center"><a [routerLink]="['/management/lock']" class="btn btn-primary">查看详情</a></div>
      </div>
    </div>
  </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">电风扇</h5>
          <div class="title"><img src="../../assets/img/风扇关.jpg" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/fan']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">门</h5>
          <div class="title"><img src="../../assets/img/门关.jpg" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/door']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">加湿器</h5>
          <div class="title"><img src="../../assets/img/加湿器关.jpg" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/humidifier']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">报警器</h5>
          <div class="title"><img src="../../assets/img/报警器关.jpg" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/alarm']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">火灾</h5>
          <div class="title"><img src="../../assets/img/熄灭.jpg" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/fire']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">喷水器</h5>
            <div class="title"><img src="../../assets/img/喷水器关.jpg" alt=""></div>
            <div style="text-align:center"><a [routerLink]="['/management/water']" class="btn btn-primary">查看详情</a></div>
          </div>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">空调环境温湿度</h5>
          <div class="title"><img src="../../assets/img/温度计.jpg" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/tem_hum1']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">加湿器环境温湿度</h5>
          <div class="title"><img src="../../assets/img/温度计.jpg" alt=""></div>
          <div style="text-align:center"><a [routerLink]="['/management/tem_hum2']" class="btn btn-primary">查看详情</a></div>
        </div>
      </div>
    </div>
  </div>