#test1{
    text-align: center; 
}

.title {
    

    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* display: flex;
    justify-content: center;
    align-items: center;   */
  }
/* .title img {
    width: 30%;
} */

h5{
    text-align: center;
}

