/* 
.div1{
    
        transform:translateY(-75%);
        -ms-transform:translateY(-75%);
        -webkit-transform:translateY(-80%);
} */
.page{
        background-image:url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1608527135235&di=66720522a5b18b3669dbf1cc33580881&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2018-07-04%2F5b3cb40a56544.jpg');
      } 